<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vn.edu.usth.facebookclient">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FBClient"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FacebookClient"
        tools:replace="android:label">

        <activity android:name=".ProfileActivity"
            android:theme="@style/Theme.FacebookClient">
        </activity>
        <activity android:name=".CreatePostActivity">

        </activity>
        <activity android:name=".SearchActivity">

        </activity>

        <activity android:name=".Post2Activity"></activity>
        <activity android:name=".Post1Activity" />
        <activity android:name=".ProfileActivity$PostActivity" />

            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
    </application>

</manifest>